# системные файлы macOS
.DS_Store

# временные сборки (если появятся)
dist/
build/

# модули (если поставишь npm-пакеты)
node_modules/

# конфиги с паролями
.envcd ':Users:maksimivanov:Documents:ChatGpt Apps:Web.txt
